Repository mdluo/craco-less: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

build(deps): upgrade deps, add lodash and eslint configs
  package.json
  yarn.lock
Due: prettier --write

style: eslint fix
  jest.config.js
  lib/craco-less.dev.test.js
  lib/craco-less.js
  lib/craco-less.prod.test.js
Due: prettier --write, eslint --fix

style(prettier): single quote and trailing comma
  .prettierrc
  jest.config.js
  lib/craco-less.dev.test.js
  lib/craco-less.js
  lib/craco-less.prod.test.js
Due: prettier --write, eslint --fix

build: add test:debug script and test:debug
  package.json
  yarn.lock
Due: prettier --write

test(jest): enable jest-extended
  jest.config.js
Due: prettier --write, eslint --fix

test(lib): update test based on webpack.config.js of react-scripts@4.0.3
  lib/craco-less.dev.test.js
  lib/craco-less.prod.test.js
Due: prettier --write, eslint --fix

docs(readme): update peer deps version and add contributor
  README.md
Due: prettier --write

style: eslint fix
  scripts/update_deps
Due: none

docs: replace namespace
  README.md
  lib/craco-less.dev.test.js
  lib/craco-less.js
  lib/craco-less.prod.test.js
  package.json
Due: prettier --write, eslint --fix

v1.18.0-beta.1
  package.json
Due: prettier --write

build(deps): yarn-audit-fix
  yarn.lock
Due: none

docs: fix with prettier
  .travis.yml
  README.md
Due: prettier --write

docs(readme): update package scope
  README.md
Due: prettier --write

v1.18.0-beta.2
  package.json
Due: prettier --write

build(deps): install webpack@4.44.2
  package.json
  yarn.lock
Due: prettier --write

v1.18.0-beta.3
  package.json
Due: prettier --write

build: update peerDependencies version
  package.json
Due: prettier --write

build: upgrade deps
  package.json
  yarn.lock
Due: prettier --write

build: downgrade less-loader to 7
  package.json
  yarn.lock
Due: prettier --write

refactor(lib): use getStyleLoaders function from react-scripts
  lib/craco-less.js
  lib/getStyleLoaders.js
Due: prettier --write, eslint --fix

fix: update getStyleLoaders
  lib/getStyleLoaders.js
Due: prettier --write, eslint --fix

fix: require getStyleLoaders with the correct parameters
  lib/craco-less.js
Due: prettier --write, eslint --fix

test: remove unnecessary test cases
  lib/craco-less.dev.test.js
  lib/craco-less.js
  lib/craco-less.prod.test.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,json,css,md}
  eslint --fix: any of: *.{js,jsx,ts,tsx}
